<header class="bg-neutral-950 text-textPrimary shadow-md">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-8 py-4">
    <div class="text-2xl font-bold tracking-wider">
      <a routerLink="/home" class="hover:text-accentRed transition-colors"
        >FightInsight</a
      >
    </div>

    <nav class="flex space-x-8">
      <a routerLink="/home" class="hover:text-accentRed transition-colors"
        >Home</a
      >
      <a routerLink="/fighters" class="hover:text-accentRed transition-colors"
        >Fighters</a
      >
      <a routerLink="/rankings" class="hover:text-accentRed transition-colors"
        >Rankings</a
      >
      <a routerLink="/analysis" class="hover:text-accentRed transition-colors"
        >Analysis</a
      >
    </nav>
  </div>
</header>
