<div
  class="min-h-screen text-center text-white p-6 bg-cover bg-fixed bg-top"
  style="background-image: url('/images/dashboard-bg.jpg')"
>
  <h1 class="text-4xl md:text-6xl mt-10 font-bold tracking-tight text-white">
    <span class="text-accentRed">ANALYZE</span> STATS
  </h1>
  <p class="text-zinc-100 mb-6 mt-2 text-xl">
    Compare physical attributes and performance metrics
  </p>
  <div class="max-w-6xl mx-auto">
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-6 mb-10"
    >
      <select
        class="bg-zinc-900 border border-zinc-700 rounded-lg p-3 w-60"
        [(ngModel)]="firstSelectedFighter"
      >
        <option [ngValue]="null">Select a fighter</option>
        @for (fighter of firstDropdownFighters(); track fighter.name) {
          <option [ngValue]="fighter">{{ fighter.name }}</option>
        }
      </select>

      <span class="text-red-500 font-bold text-xl">VS</span>

      <select
        class="bg-zinc-900 border border-zinc-700 rounded-lg p-3 w-60"
        [(ngModel)]="secondSelectedFighter"
      >
        <option [ngValue]="null">Select a fighter</option>
        @for (fighter of secondDropdownFighters(); track fighter.name) {
          <option [ngValue]="fighter">{{ fighter.name }}</option>
        }
      </select>
    </div>

    @if (firstSelectedFighter() || secondSelectedFighter()) {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-10">
        @if (firstSelectedFighter(); as fighter) {
          <div
            class="flex items-center gap-4 bg-neutral-900 p-5 rounded-2xl border border-zinc-800 md:col-start-1 text-left"
          >
            <img
              class="w-20 h-20 rounded-full object-cover border-2 border-red-500 object-top"
              [src]="fighter.imgUrl || 'images/unselected-fighter.png'"
            />
            <div>
              <h2 class="text-lg font-semibold">{{ fighter.name }}</h2>
              <p class="text-sm text-zinc-400">
                Record:
                {{ fighter.wins + "-" + fighter.losses + "-" + fighter.draws }}
              </p>
              <ul class="text-sm text-zinc-400 mt-2 space-y-0.5">
                <li>Category: {{ fighter.category }}</li>
                <li>Style: {{ fighter.fightingStyle }}</li>
                <li>Age: {{ fighter.age }}</li>
              </ul>
            </div>
          </div>
        }

        @if (secondSelectedFighter(); as fighter) {
          <div
            class="flex items-center gap-4 bg-neutral-900 p-5 rounded-2xl border border-zinc-800 justify-end text-right md:col-start-2"
          >
            <div>
              <h2 class="text-lg font-semibold">{{ fighter.name }}</h2>
              <p class="text-sm text-zinc-400">
                Record:
                {{ fighter.wins + "-" + fighter.losses + "-" + fighter.draws }}
              </p>
              <ul class="text-sm text-zinc-400 mt-2 space-y-0.5">
                <li>Category: {{ fighter.category }}</li>
                <li>Style: {{ fighter.fightingStyle }}</li>
                <li>Age: {{ fighter.age }}</li>
              </ul>
            </div>
            <img
              class="w-20 h-20 rounded-full object-cover border-2 border-blue-500 object-top"
              [src]="fighter.imgUrl || 'images/unselected-fighter.png'"
            />
          </div>
        }
      </div>
    }

    @if (firstSelectedFighter() && secondSelectedFighter()) {
      <div
        class="bg-neutral-900 p-6 rounded-2xl border border-zinc-800 shadow-xl"
      >
        <app-radar-chart
          [fighter1]="firstSelectedFighter()!"
          [fighter2]="secondSelectedFighter()!"
        ></app-radar-chart>
      </div>
    }
  </div>
</div>
