<section class="w-full dark:bg-neutral-950 py-12">
  <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-6">
    <div
      class="relative h-[500px] rounded-md overflow-hidden cursor-pointer group bg-cover bg-center"
      style="background-image: url(&quot;images/fight.jpg&quot;)"
    >
      <div class="absolute inset-0 bg-white/20"></div>
      <div
        class="absolute inset-0 bg-black/40 group-hover:bg-black/20 transition"
      ></div>
      <div class="relative z-10 flex items-center justify-center h-full" routerLink="/fighters">
        <h2
          class="text-white text-5xl font-extrabold tracking-wider text-center"
        >
          FIGHTER<br />
          DEEP<br />
          DIVE
        </h2>
      </div>
    </div>

    <div
      class="relative h-[500px] rounded-md overflow-hidden cursor-pointer group bg-cover bg-right"
      style="background-image: url(&quot;images/winner.jpg&quot;)"
    >
      <div class="absolute inset-0 bg-white/20"></div>
      <div
        class="absolute inset-0 bg-black/40 group-hover:bg-black/20 transition"
      ></div>
      <div class="relative z-10 flex items-center justify-center h-full">
        <h2
          class="text-white text-5xl font-extrabold tracking-wider text-center"
        >
          LEADER <br />
          BOARDS
        </h2>
      </div>
    </div>

    <div
      class="relative h-[500px] rounded-md overflow-hidden cursor-pointer group bg-cover bg-center"
      style="background-image: url(&quot;images/kickbox.jpg&quot;)"
    >
      <div class="absolute inset-0 bg-white/20"></div>
      <div
        class="absolute inset-0 bg-black/40 group-hover:bg-black/20 transition"
      ></div>
      <div class="relative z-10 flex items-center justify-center h-full">
        <h2
          class="text-white text-5xl font-extrabold tracking-wider text-center"
        >
          COMPARE <br />
          FIGHTERS
        </h2>
      </div>
    </div>
  </div>
</section>
